
.bodybg
{ 
  background: url(images/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.maincard
{
	padding: 20px;
	 margin-top:20%; 
	background: transparent;  
	border: none;
	 z-index: 999;
}

.txtwhite
{
	color: white;
}

.txtsmallwhite
{
	color: white; 
	font-size: 0.6em;
}

.footer
{
	background-color: 
	transparent;
	 text-align: center 
}

.cardpadding
{
	padding: 30px; background: transparent;
}

.margintop
{
	margin-top: 10%;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #34cceb;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding-top: 10%;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.answer
{
  background: #34cceb;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.answer:hover
{
  background: #34b1eb;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  height: 50px;
  margin-bottom: 5px;
}
.btnans
{
  width: 150px;
  height: 40px;
  background:#036ffc; 
  border-radius: 3px;
  border:none;
  color: white;
}


.btnans:hover
{
 width: 150px;
  height: 40px;
  background:#34b1eb;
  border-radius: 3px;
  border:none;
  color: white; 
}
.radio
{
  margin-top: 20px;
}